<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>BIHFTS Stats - Miss Fisher&#39;s Murder Mysteries</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="common.css" rel="stylesheet" />
	<link href="style-small.css" media="screen and (max-width: 920px)" rel="stylesheet" />
	<link href="style-large.css" media="screen and (min-width: 921px)" rel="stylesheet" />
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
</head>

<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
	<div class="version">
		1.0.{{build}}
	</div>
	<h1 style="position: relative; width: 100%; text-align: center">Bitch, I&#39;m Here For The Story</h1>

	<h1 style="position: relative; width: 100%; text-align: center">Miss Fisher&#39;s Murder Mystery Statistics</h1>

	<h4>Chart below</h4>

	<div>
		<div id="chart">
			<canvas id="bookChart"></canvas>
			<canvas id="tvChart"></canvas>
		</div>

		<div class="content" id="description" split-lines="">Latest Episode:
			<a href="https://www.youtube.com/watch?v=HXQoaf3IAKk" target="_blank">YouTube</a>
			<br /> Prefer Audio Only?:
			<a href="https://www.blubrry.com/bihfts/">https://www.blubrry.com/bihfts/</a>
			<br />
			<br /> Join Kiri, Zoe &amp; Dezzles read through and watch one of their favorite fandoms, The Miss Fisher Murder Mystery books
			and tv series. We talk themes, comparisons, and just get super enthused about how happy this franchise makes us.
			<br />
			<br /> Find Kiri:
			<br /> Twitter:
			<a href="https://twitter.com/KiriCallaghan" target="_blank">https://twitter.com/KiriCallaghan</a>
			<br /> FB:
			<a href="https://www.facebook.com/KiriSCallaghan" target="_blank">https://www.facebook.com/KiriSCallaghan</a>
			<br /> Instagram: @KiriCallaghan
			<br /> Twitch:
			<a href="https://Twitch.tv/Kiriosity" target="_blank">https://Twitch.tv/Kiriosity</a>
			<br />
			<br /> Find Zo&euml;:
			<br /> Twitter:
			<a href="https://twitter.com/_Zengirl_" target="_blank">https://twitter.com/_Zengirl_</a>
			<br /> Facebook:
			<a href="https://www.facebook.com/ZMSArts/" target="_blank">https://www.facebook.com/ZMSArts/</a>
			<br /> Patreon:
			<a href="https://Patreon.com/ZoeMS" target="_blank">Patreon.com/ZoeMS</a>
			<br /> Etsy:
			<a href="https://Etsy.com/shop/abstractlanguage" target="_blank">https://Etsy.com/shop/abstractlanguage</a>
			<br />
			<br /> Find Dezzles:
			<br /> Twitter:
			<a href="https://twitter.com/Dezzles" target="_blank">https://twitter.com/Dezzles</a>
			<br /> YouTube:
			<a href="https://YouTube.com/dezzles" target="_blank">https://YouTube.com/dezzles</a>
		</div>
	</div>

	<script src="stats.js"></script>
	<script src="chart.js"></script>
</body>

</html>