#description {
	width: 33%;
	display: inline-block;
	padding: 30px;
}

#chart {
	display: inline-block;
	position: absolute; 
	width: 50%; 
	height: 400px; 
	left: 66%; 
	transform: translateX(-50%);
}

h4 {
	display: none;
}